.attribute-selector {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

:host {
  padding-top: 150px;

  .header {
    display: block;
    position: relative;
  }

  .button-inner {
    display: flex;
    gap: 0.5rem;
  }

  .pattern-field {
    margin-left: 1rem;
  }
}
