<div class="header">
  <div class="header__leading">
    <button mat-raised-button color="primary" (click)="back()">
      {{ "< Back" }}
    </button>

    <button mat-raised-button color="primary" (click)="getObjectsSchemas()">
      Test
    </button>

    <!-- <button
      mat-raised-button
      color="primary"
      (click)="suggestFieldNames()"
      [disabled]="suggestNameOngoing || generateJsonsOngoing"
    >
      <div class="button-inner">
        <mat-spinner *ngIf="suggestNameOngoing" diameter="20"></mat-spinner>
        Suggérer des noms de champs
      </div>
    </button> -->
    <button mat-raised-button color="primary" (click)="openThread()">
      Voir le thread
    </button>

    <button mat-raised-button color="primary" (click)="openSaveDataModal()">
      Save as test data
    </button>

    <button mat-raised-button color="primary" (click)="generateCI()">
      Generer le CI
    </button>
    <!-- <button
      mat-raised-button
      color="primary"
      (click)="generateJSONSchema()"
      [disabled]="suggestNameOngoing || generateJsonsOngoing"
    >
      <div class="button-inner">
        <mat-spinner *ngIf="generateJsonsOngoing" diameter="20"></mat-spinner>
        Generer les Json Schema / UI
      </div>
    </button> -->

    <mat-form-field class="pattern-field">
      <mat-label>Execute pattern</mat-label>

      <mat-select [(ngModel)]="selectedPatternId">
        <mat-option
          ng-size="8"
          *ngFor="let pattern of patterns"
          [value]="pattern.id"
          >{{ pattern.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Thread</mat-label>

      <mat-select [(ngModel)]="threadId" (ngModelChange)="onThreadChange()">
        <mat-option ng-size="8" *ngFor="let id of threadIds" [value]="id">{{
          id
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!selectedPatternId || execPatternOngoing"
      (click)="executePattern()"
    >
      <div class="button-inner">
        <mat-spinner *ngIf="execPatternOngoing" diameter="20"></mat-spinner>
        Executer
      </div>
    </button>
  </div>

  <input type="file" id="input" />

  <!-- <div class="file-select-container">
    <button
      mat-raised-button
      color="primary"
      [disabled]="uploadFileOngoing"
      (click)="fileInput.click()"
    >
      <div class="button-inner">
        <mat-spinner *ngIf="uploadFileOngoing" diameter="20"></mat-spinner>
        Importer un fichier
      </div>
    </button>
    <span class="filename"
      >&nbsp;&nbsp;&nbsp;&nbsp;{{ uploadedFile?.filename }}</span
    >
  </div> -->
</div>

<div class="attribute-selector">
  <div class="attribute-selector__title">
    <input mat-input [(ngModel)]="objectName" type="text" />
    <button mat-raised-button color="primary" (click)="search()">
      Chercher
    </button>
  </div>
  <app-attribute-selector
    *ngIf="!searchOngoing"
    [objectName]="objectName"
  ></app-attribute-selector>
</div>

<input
  #fileInput
  type="file"
  style="visibility: hidden"
  (change)="onFileSelected($event)"
/>
