:host {
  display: block;
  padding: 1.5rem;
  background-color: var(--color-neutral-50);
  min-height: 100%;
  .preview-header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    &__leading,
    &__trailing {
      display: flex;
      gap: 1rem;
    }
  }
  .page-title {
    font-size: 24px;
    margin-bottom: 2rem;
  }
  .form-preview-container {
    padding: 1rem 10vw;
    border-radius: 12px;
    // background-color: var(--color-neutral-50);
  }
}
