<button mat-raised-button color="primary" (click)="back()">
  {{ "< Back" }}
</button>

<div class="config-elm-list">
  <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
  <div
    *ngFor="let pattern of patterns"
    class="config-elm-list__element clickable pattern-card"
    (click)="goToDetailView(pattern.id!)"
  >
    <div class="config-elm-list__element__label">{{ pattern.name }}</div>
    <!-- <button mat-icon-button>
      <mat-icon fontIcon="delete" (click)="openDeletionModal()"></mat-icon>
    </button> -->
  </div>
</div>

<div class="config-footer-actions-container">
  <button
    mat-raised-button
    color="primary"
    (click)="openPatternCreationModal()"
  >
    + New pattern
  </button>
</div>
