//////////////////////////////
////       PALETTES       ////
//////////////////////////////

//// Primary
$xd-primary: (
  50 : #e7ebf6,
  100 : #c4cde7,
  200 : #9dacd8,
  300 : #758bc8,
  400 : #5872bc,
  500 : #3a59b0,
  600 : #3451a9,
  700 : #2c48a0,
  800 : #253e97,
  900 : #182e87,
  A100 : #bec9ff,
  A200 : #8b9fff,
  A400 : #5874ff,
  A700 : #3f5fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

//// Secondary
$xd-secondary: (
  50 : #feebe5,
  100 : #fccebd,
  200 : #faad92,
  300 : #f78c66,
  400 : #f67345,
  500 : #f45a24,
  600 : #f35220,
  700 : #f1481b,
  800 : #ef3f16,
  900 : #ec2e0d,
  A100 : #c63d3d,
  A200 : #ffe7e4,
  A400 : #ffbab1,
  A700 : #ffa397,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

//// Error
$xd-error: (
  50 : #fde8e8,
  100 : #fbc6c6,
  200 : #f9a0a0,
  300 : #f67979,
  400 : #f45d5d,
  500 : #f24040,
  600 : #f03a3a,
  700 : #ee3232,
  800 : #ec2a2a,
  900 : #e81c1c,
  A100 : #ffe7ea,
  A200 : #ffa9b5,
  A400 : #ff909f,
  A700 : #ff8192,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

//// Success
$xd-success: (
  50 : #e1f3eb,
  100 : #b3e0cc,
  200 : #81ccaa,
  300 : #4fb788,
  400 : #29a76f,
  500 : #039855,
  600 : #03904e,
  700 : #028544,
  800 : #027b3b,
  900 : #016a2a,
  A100 : #6fff74,
  A200 : #31ff38,
  A400 : #18ff20,
  A700 : #09ff11,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

//// Warning
$xd-warning: (
  50 : #fdf4e8,
  100 : #fbe4c6,
  200 : #f9d2a0,
  300 : #f6c079,
  400 : #f4b35d,
  500 : #f2a540,
  600 : #f09d3a,
  700 : #ee9332,
  800 : #ec8a2a,
  900 : #e8791c,
  A100 : #ffffff,
  A200 : #ffddd0,
  A400 : #ffcbb6,
  A700 : #ffc0a7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

//// Info
$xd-info: (
  50 : #e5edfc,
  100 : #bed1f8,
  200 : #93b2f4,
  300 : #6793f0,
  400 : #477cec,
  500 : #2665e9,
  600 : #225de6,
  700 : #1c53e3,
  800 : #1749df,
  900 : #0d37d9,
  A100 : #bfd4ff,
  A200 : #82aaff,
  A400 : #6899ff,
  A700 : #598fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

//// Default
$xd-default: (
  50 : #eceef1,
  100 : #d1d4db,
  200 : #b2b7c4,
  300 : #939aac,
  400 : #7b849a,
  500 : #646e88,
  600 : #5c6680,
  700 : #525b75,
  800 : #48516b,
  900 : #363f58,
  A100 : #73aeff,
  A200 : #368aff,
  A400 : #1d7bff,
  A700 : #0d72ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

//// Accent
$xd-accent: (
  50 : #e3e5e8,
  100 : #b8bec5,
  200 : #89939e,
  300 : #5a6777,
  400 : #364759,
  500 : #13263c,
  600 : #112236,
  700 : #0e1c2e,
  800 : #0b1727,
  900 : #060d1a,
  A100 : #08d8ff,
  A200 : #00aaca,
  A400 : #0095b1,
  A700 : #0088a2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

//// Neutral
$xd-neutral: (
  50 : #F7F7FC, //#eceef1,
  100 : #EEF2F6, //#d1d4db,
  200 : #E3E8EF, //#b2b7c4,
  300 : #939aac,
  400 : #7b849a,
  500 : #646e88,
  600 : #646E88, //#5c6680,
  700 : #525b75,
  800 : #48516b,
  900 : #363f58,
  A100 : #73aeff,
  A200 : #368aff,
  A400 : #1d7bff,
  A700 : #0d72ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
