<button mat-raised-button color="primary" (click)="back()">
  {{ "< Back" }}
</button>

<div class="config-elm-list">
  <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
  <div
    *ngFor="let file of files"
    class="file config-elm-list__element"
    [matTooltip]="stringify(file)"
    [ngClass]="{ clickable: file.purpose == 'assistants_output' }"
    (click)="file.purpose == 'assistants_output' ? downloadFile(file.id) : null"
  >
    <div class="config-elm-list__element__label">
      {{ file.filename }}
      <span *ngIf="file.purpose == 'assistants_output'" class="title-precision"
        >(Created by assistant)</span
      >
    </div>
    <div class="config-elm-list__element__info">{{ file.id }}</div>
  </div>
</div>
<div class="config-footer-actions-container">
  <button mat-raised-button color="primary" (click)="fileInput.click()">
    + Import new file
  </button>
</div>

<input
  #fileInput
  type="file"
  style="visibility: hidden"
  (change)="onFileSelected($event)"
/>
