.config-elm-list {
  padding: 3rem;
  &__element {
    padding: 1rem 1.5rem;
    background-color: white;
    border: 1px solid #e3e8ef;
    border-radius: 12px;
    margin-bottom: 1.5rem;

    &__label {
      font-size: 14px;
      font-weight: bold;
    }
    &__info {
      color: #697586;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  z-index: 2;

  mat-form-field {
    min-width: 400px;
  }

  &__leading {
    // display: flex;
    // gap: 1rem;
    // flex-wrap: wrap;

    & > * {
      margin-bottom: 1rem;
    }
  }

  &__trailing {
    text-align: end;
  }

  button:not(:first-child) {
    margin-left: 1rem;
  }
}
