:host {
  display: block;
  padding: 1rem;
  height: calc(100vh - 2rem);
  overflow: scroll;

  z-index: 999;

  .header-row {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .header-element {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .test-pannel__footer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
}
