:host {
  display: block;
  background-color: #d7d0c9;
  background-image: url("~src/assets/B83HT.jpg");
  background-image: url("~src/assets/background.png");
  // width: 100%;
  min-height: 100%;
  background-repeat: repeat;
  padding: 1rem;

  .config-footer-actions-container {
    display: flex;
    justify-content: flex-end;
  }
}
