<div class="config-elm-list">
  <div
    class="assistant config-elm-list__element clickable"
    (click)="goToThreads()"
  >
    <div class="config-elm-list__element__label">Threads</div>
    <div class="config-elm-list__element__info">
      See your threads and send messages
    </div>
  </div>

  <div
    class="assistant config-elm-list__element clickable"
    (click)="goToAssistants()"
  >
    <div class="config-elm-list__element__label">Assistants</div>
    <div class="config-elm-list__element__info">Manage assistants</div>
  </div>

  <div
    class="assistant config-elm-list__element clickable"
    (click)="goToFiles()"
  >
    <div class="config-elm-list__element__label">Files</div>
    <div class="config-elm-list__element__info">Manage files</div>
  </div>

  <div
    class="assistant config-elm-list__element clickable"
    (click)="goToDemo()"
  >
    <div class="config-elm-list__element__label">Demo</div>
    <div class="config-elm-list__element__info">Dev sandbox</div>
  </div>
</div>
