<button mat-raised-button color="primary" (click)="back()">
  {{ "< Back" }}
</button>

<div class="config-elm-list">
  <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
  <div
    *ngFor="let assistant of assistants"
    class="assistant config-elm-list__element"
    (click)="goToDetailView(assistant)"
    [matTooltip]="stringify(assistant)"
  >
    <div class="config-elm-list__element__label">{{ assistant.name }}</div>
    <div class="config-elm-list__element__info">{{ assistant.model }}</div>
  </div>
</div>

<div class="config-footer-actions-container">
  <button
    mat-raised-button
    color="primary"
    (click)="openAssistantCreationModal()"
  >
    + Create assistant
  </button>
</div>
